<div class="masthead">
  <h3 class="muted">{{seo.default.title}}</h3>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="downloads.html">Downloads</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>